html {
font-family: "Heebo", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Outfit", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Work Sans", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

:root {
    --primary-color: rgb(84, 161, 205);
}

