.navbar{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem 4rem;
    background: rgba(255,255, 255, .5);
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
}
.left{
    display: flex;
    gap: 2rem;
}
.logoContainer img{
    width: 8rem;
}

.logoContainer{
    display: flex;
    gap: .5rem;
}

.logoTexts{
    display: flex;
    flex-direction: column;
}

.navLetterSpacing{
    letter-spacing: 0.4rem;
}

.logoTexts p{
    font-weight: bold;
    color: rgb(135, 118, 38);
}

.navLinks{
    display: flex;
    justify-content: space-between;
    gap:10rem;
}

.navLinks a.activeLink{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.navLinks ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

.navLinks ul li a{
    text-decoration: none;
    color: black;
}

.navButtons{
    display: flex;
    gap: 2rem;
    justify-self: flex-end;
}

.navButtons button{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: .5rem 1rem;
    background: none;
    color: black;
}

 .navButtons .greenBtn{
    background-color: rgb(135, 118, 38);
    color: white;
}